.menu-container {
    background-color: rgb(49, 44, 52);
}

.menu-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container ul li a{
    color: #fff;
    list-style: none;
    text-decoration: none;
}